# MAPBOX
NEXT_PUBLIC_MAPBOX_TOKEN = "pk.eyJ1IjoiYWx5b25hZnVyaWEiLCJhIjoiY21nZmxwOGQ0MDlscDJsczU1czY3ZDV4MyJ9.vDc0vCV98C8UGkDW3Bfwxw"
NOMINATIM_EMAIL = ""

#OPENAI
OPENAI_API_KEY = ""

#pinata
PINATA_JWT = ""
PINATA_GATEWAY = ""

#BASE
NEXT_PUBLIC_ONCHAINKIT_API_KEY=""
NEXT_PUBLIC_PROJECT_ID=""
NEXT_PUBLIC_RPC_URL=""