# MAPBOX
NEXT_PUBLIC_MAPBOX_TOKEN = "pk.eyJ1IjoiYWx5b25hZnVyaWEiLCJhIjoiY21nZmxwOGQ0MDlscDJsczU1czY3ZDV4MyJ9.vDc0vCV98C8UGkDW3Bfwxw"
NOMINATIM_EMAIL = "sunsettingsbelin@gmail.com"

#OPENAI
OPENAI_API_KEY =
#pinata
PINATA_JWT =
PINATA_GATEWAY =

#BASE
NEXT_PUBLIC_ONCHAINKIT_API_KEY=
NEXT_PUBLIC_PROJECT_ID="a9440a42-ec97-4e3b-9db7-2db622c37bf2"
BASE_RPC_URL="https://base-mainnet.g.alchemy.com/v2/..."
NEXT_PUBLIC_PAYMASTER_AND_BUNDLER_ENDPOINT=
NEXT_PUBLIC_PAYMASTER_AND_BUNDLER_SEPOLIA_ENDPOINT=
NEXT_PUBLIC_SUNSET_SEPOLIA_NFT_CONTRACT_ADDRESS="0x05B60433b8b39656Ed4c68AEa600Caf4ED799823"
NEXT_PUBLIC_SUNSET_BASE_NFT_CONTRACT_ADDRESS="0xc5E5A006ad8c7CE5691461119Ab20ed6B0C2334F"

BASE_SEPOLIA_RPC_URL=
ETHERSCAN_API_KEY=

NEXT_PUBLIC_PAYMASTER_AND_BUNDLER_ENDPOINT=ADD_YOUR_PAYMASTER_URL_HERE
NEXT_PUBLIC_CDP_API_KEY=ADD_YOUR_ONCHAINKIT_KEY_HERE
NEXT_PUBLIC_WC_PROJECT_ID=ADD_YOUR_PROJECT_ID_HERE