NEXT_PUBLIC_SUNSET_SEPOLIA_NFT_CONTRACT_ADDRESS=
NEXT_PUBLIC_SUNSET_BASE_NFT_CONTRACT_ADDRESS=
NEXT_PUBLIC_SUNSET_NFT_MINT_FUNCTION="safeMint"
BASE_SEPOLIA_CHAIN_ID=84532
BASE_CHAIN_ID=8453
SEPOLIA_DEPLOYER_PRIVATE_KEY=
BASE_DEPLOYER_PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=
BASE_MAINNET_RPC_URL=
BASESCAN_API_KEY=
